{% extends 'myapp/base.html' %}

{% block content %}
<h1>Рестораны</h1>
<div class="row">
    {% for restaurant in restaurants %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ restaurant.name }}</h5>
                <p class="card-text">{{ restaurant.description|truncatewords:20 }}</p>
                <p>Рейтинг: {{ restaurant.rating }}/5</p>
                <a href="{% url 'myapp:restaurant_detail' restaurant.pk %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %} 